.calendar__wrapper {
  display: block;
  margin-left: auto;

  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  color: #dfdfdf;

  background-color: #272829;

  @media screen and(max-width: 576px) {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and(min-width: 1024px) {
    padding-top: 209px;
    padding-bottom: 209px;
    padding-left: 122px;
    padding-right: 105px;
  }
}

.calendar__nav {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.43);
}

.nav__btn {
  font-size: 26px;
  color: hsla(0, 0%, 87%, 0.67);
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.nav__title {
  text-align: center;
  font-size: 19px;
  text-transform: uppercase;
}

.table {
  border-collapse: collapse;
}

.days__wrapper {
  border-collapse: collapse;
}

.days {
  padding: 20px;
  font-size: 16px;
  color: #dfdfdf;
  border-top: 1px solid hsla(0, 0%, 100%, 0.43);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.43);
  @media screen and(max-width: 576px) {
    padding: 10px;
  }
}
