.text {
  display: block;
  height: 100vh;
  max-width: 554px;
  margin-left: auto;
  margin-right: 33px;
  padding-top: 192px;
  @media screen and(max-width: 576px) {
    padding-top: 25px;
    height: auto;
    padding-bottom: 25px;
  }
}

.title {
  text-align: right;
  font-size: 50px;
  line-height: 64px;
  color: #fdd000;
  text-transform: uppercase;
  margin-bottom: 44px;
  @media screen and(max-width: 576px) {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 25px;
  }
}

.description {
  text-align: right;
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  color: #dfdfdf;
  @media screen and(max-width: 576px) {
    font-size: 22px;
    line-height: 32px;
  }
}
